---
import ServiceCard from "./ServiceCard.astro";
---

<div class="grid grid-flow-row sm:place-content-center pb-20 bg-zinc-900 pt-20 p-5 text-center">
 <ServiceCard
  title="Auto Body Repair"
  description="Whether it's a small fender bender, damage from an animal, or a major collision, we will repair it using the best replacement parts and paint with a lifetime warranty."
  imageUrl="/photos/auto.jpg"
 />
 <ServiceCard
  title="Paint Color Matching"
  description="From specialty metallic colors, tri-coat pearl colors, and everything in between. We use the best in OEM grade material and technology to match and spray your vehicle's paint with a lifetime warranty."
  imageUrl="/photos/paint.jpg"
 />
 <ServiceCard
  title="Paintless Dent Repair"
  description="Sometimes your vehicle may suffer smaller dents; such as dings from shopping carts, storm debris, hail, etc. Oftentimes, this type of damage can be repaired same-day without the use of new parts and paint, saving you time and money."
  imageUrl="/photos/pdr.jpg"
 />
</div>
