---
import Star from "../Header/Star.astro";
interface Props {
 name: string;
 rating: number;
 reviewText: string;
 date: string;
}

const { name, rating, reviewText, date } = Astro.props;
---

<div class="grid gap-2 border-b py-4">
 <span class="text-xl font-semibold">{name}</span>
 <div class="flex text-red-600 gap-1">
  {Array.from({ length: rating }).map(() => <Star />)}
 </div>
 <span>{reviewText}</span>
 <span class="text-sm text-zinc-300/80">{date}</span>
</div>
