---
import Star from "../Header/Star.astro";
---

<div class="grid gap-2 border-b py-4">
 <span class="text-xl font-semibold">William F.</span>
 <div class="flex text-red-700 gap-1">
  {Array.from({ length: 5 }).map(() => <Star />)}
 </div>
 <span>Fantastic service as usual.</span>
 <span class="text-sm text-zinc-300/80">10/08/2024</span>
</div>
