<div class='flex flex-col gap-5 text-left'>
	<h1 class='font-[900] sm:text-7xl text-5xl tracking-wide text-white'>
		The <span class='text-white'>Height</span> of<br /> Collision Repair.
	</h1>
	<p class='text-zinc-300/80 sm:w-3/4 text-lg'>
		Apex Collision is family owned and operated with over 45 years of combined experience. We combine
		our expertise with state of the art tools and repair methods to get your vehicle back to
		pre-accident condition.
	</p>
</div>
