{
	process.env.HIDE && (
		<form class='grid sm:border sm:rounded-sm sm:p-6 px-5 py-3 gap-10 border-red-900/40 sm:bg-zinc-900/90 text-zinc-900 bg-zinc-900 w-full sm:shadow-red-900 shadow-lg'>
			<span class='text-2xl text-zinc-200 font-semibold'>Request Estimate</span>
			<input
				type='text'
				required
				placeholder='Full Name*'
				class='p-2 rounded-sm placeholder:text-zinc-600'
			/>
			<input
				type='text'
				required
				placeholder='Phone*'
				class='p-2 rounded-sm placeholder:text-zinc-600'
			/>
			<input type='text' placeholder='Email' class='p-2 rounded-sm placeholder:text-zinc-600' />
			<label class='hidden'>repair service</label>
			<select required class='p-2 rounded-sm text-zinc-900'>
				<option value='' disabled selected hidden class='text-zinc-400'>
					Repair Service*
				</option>
				<option value=''>Paintless Dent Repair</option>
				<option value=''>Paint</option>
				<option value=''>Body Work</option>
				<option value=''>Other</option>
			</select>
			<button
				type='submit'
				class='bg-red-700 hover:bg-red-800 text-zinc-50 py-2 px-4 border border-red-800 shadow mx-32 hover:scale-105 rounded-sm uppercase font-bold text-sm'
			>
				Submit
			</button>
		</form>
	)
}
