<footer
  class="footer-footer section-container"
>
  <div
    class="footer-max-width max-content-container"
  >
    <div class="footer-container">
      <img
        alt="image"
        src="/assets/logos/red.png"
        class="footer-image"
      />
      <span
        class="footer-text content-Light"
      >
        <b>Main Shop</b><br />
        20795 Lynchburg Hwy.
        <br />Forest, VA, 24551 <br />
        <b>Contact Us:</b>
        <br />
        <a href="tel:4344730160">
          (434) 473-0160
        </a>
        <br />
        <a
          href="mailto:info@apexcollisioncenters.com"
          target="_blank"
        >
          info@apexcollisioncenters.com
        </a>
      </span>
      <div
        class="footer-social-media"
      ></div>
    </div>
    <div class="footer-links">
      <div
        class="footer-container2"
      ></div>
      <div class="footer-container3">
        <span class="footer-text08"
          >Navigation</span
        >
        <span class="footer-link"
          >Services</span
        >
        <span class="footer-link"
          >Location</span
        >
        <span class="footer-link"
          >About</span
        >
        <span class="footer-link"
          >FAQ</span
        >
      </div>
    </div>
  </div>
</footer>
