:host {
  display: contents;
}
.navbar-navbar-container {
  top: 0;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.navbar-image {
  width: 180px;
}
.navbar-nav {
  display: flex;
}
.navbar-icon {
  width: 20px;
  height: 20px;
}
.navbar-nav1 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.navbar-container {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(
    --dl-space-space-threeunits
  );
  justify-content: space-between;
}
.navbar-image1 {
  width: 106px;
}
.navbar-menu-close {
  display: flex;
  align-items: center;
  justify-content: center;
}
.navbar-icon02 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.navbar-primary-btn {
  margin-top: var(
    --dl-space-space-oneandhalfunits
  );
}
.navbar-social-media {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.navbar-text {
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  margin-bottom: var(
    --dl-space-space-oneandhalfunits
  );
}
.navbar-container1 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.navbar-icon04 {
  width: 24px;
  height: 24px;
  transition: 0.3s;
  margin-right: var(
    --dl-space-space-twounits
  );
}
.navbar-icon04:hover {
  fill: var(
    --dl-color-backgrounds-primary
  );
  cursor: pointer;
}
.navbar-icon08 {
  width: 24px;
  height: 24px;
  transition: 0.3s;
  margin-right: var(
    --dl-space-space-twounits
  );
}
.navbar-icon08:hover {
  fill: var(
    --dl-color-backgrounds-primary
  );
  cursor: pointer;
}
.navbar-icon12 {
  width: 24px;
  height: 24px;
  transition: 0.3s;
  margin-right: var(
    --dl-space-space-twounits
  );
}
.navbar-icon12:hover {
  fill: var(
    --dl-color-backgrounds-primary
  );
  cursor: pointer;
}
.navbar-icon14 {
  width: 24px;
  height: 24px;
  transition: 0.3s;
}
.navbar-icon14:hover {
  fill: var(
    --dl-color-backgrounds-primary
  );
  cursor: pointer;
}

@media (max-width: 767px) {
  .navbar-nav {
    display: none;
  }
  .navbar-primary-btn1 {
    display: none;
  }

  .navbar-image {
    width: 120px;
  }

  #menuToggle {
    flex-direction: column;
    top: 25px;
    left: 25px;
    z-index: 1;
    -webkit-user-select: none;
    user-select: none;
  }

  #menuToggle input {
    width: 40px;
    height: 32px;
    position: absolute;
    cursor: pointer;
    opacity: 0;
    z-index: 2;
  }

  #menuToggle span {
    display: flex;
    width: 29px;
    height: 2px;
    margin-bottom: 5px;
    position: relative;
    background: #36383f;
    border-radius: 3px;
    z-index: 1;
    transform-origin: 5px 0px;
    transition: transform 0.5s
        cubic-bezier(0.77, 0.2, 0.05, 1),
      background 0.5s
        cubic-bezier(0.77, 0.2, 0.05, 1),
      opacity 0.55s ease;
  }

  #menuToggle span:first-child {
    transform-origin: 0% 0%;
  }

  #menuToggle span:nth-last-child(2) {
    transform-origin: 0% 100%;
  }

  #menuToggle input:checked ~ span {
    opacity: 1;
    transform: rotate(45deg)
      translate(-3px, -1px);
    background: #36383f;
  }
  #menuToggle
    input:checked
    ~ span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg)
      scale(0.2, 0.2);
  }

  #menuToggle
    input:checked
    ~ span:nth-last-child(2) {
    transform: rotate(-45deg)
      translate(0, -1px);
  }

  #menu {
    position: absolute;
    width: 114%;
    height: 100%;
    box-shadow: rgba(0, 0, 0, 0.25) 0px
        14px 28px,
      rgba(0, 0, 0, 0.22) 0px 10px 10px;
    top: 0px;
    padding: 50px;
    padding-top: 125px;
    font-size: 1.4em;

    background-color: var(
      --dl-color-backgrounds-gray
    );
    -webkit-font-smoothing: antialiased;
    transform-origin: 0% 0%;
    transform: translate(70%, 0);
    transition: transform 0.5s
      cubic-bezier(0.77, 0.2, 0.05, 1);
  }

  #menu span {
    padding-bottom: 40px;
    transition-delay: 2s;
  }

  #menuToggle input:checked ~ ul {
    transform: none;
  }
}
