---
import Layout from "../layouts/Layout.astro";
---

<Layout title="About">
 <main class="sm:px-24 p-5 outline min-w-full bg-zinc-800/40 min-h-[80svh]">
  <h1 class="text-4xl font-semibold">About</h1>
 </main>
</Layout>
