---
import Layout from "../layouts/Layout.astro";
import LandingForm from "../components/Landing/LandingForm.astro";
---

<Layout title="Contact">
 <main class="sm:px-24 p-5 outline min-w-full bg-zinc-800/40 min-h-[80svh] gap-10 flex flex-col">
  <h1 class="text-4xl font-semibold">Contact</h1>
  <hr />
  <div>something</div>
 </main>
</Layout>
