---
import Layout from "../layouts/Layout.astro";

import LandingForm from "../components/Landing/LandingForm.astro";
import ServicesSection from "../components/Services/ServicesSection.astro";
import LandingActions from "../components/Landing/LandingActions.astro";
import LandingHookText from "../components/Landing/LandingHookText.astro";
import Reviews from "../components/Review/Reviews.astro";
---

<Layout title="Apex Collision Center">
 <main class="max-w-[100svw] overflow-x-hidden justify-evenly flex flex-col text-center bg-building bg-center bg-fixed">
  <div class="grid grid-flow-col justify-evenly items-center min-h-[80vh] grid-cols-3 sm:px-40 px-20">
   <div class="flex flex-col justify-start gap-10 z-20 col-span-2">
    <LandingHookText />
    <LandingActions />
   </div>

   <LandingForm />
  </div>
 </main>
 <ServicesSection />
 <Reviews />
</Layout>
