<div class="flex flex-col items-end">
 <a
  class="py-2 px-5 inline-flex items-center gap-x-2 text-sm font-semibold rounded-lg shadow-sm bg-red-700 text-white disabled:pointer-events-none hover:bg-red-800 hover:cursor-pointer hover:transition duration-500 shadow-zinc-950/10 hover:shadow-md hover:shadow-zinc-950/20"
  href="#"
 >
  <span class="hidden sm:flex">Request Estimate</span>
 </a>
 <a href="#" class="text-zinc-900">Or Call Us: <br /> (434) 473-0160</a>
</div>
