---
import Navigation from "./Navigation.astro";
import InfoBanner from "./InfoBanner.astro";
---

<header class="flex items-center justify-between top-0 sticky backdrop-blur-sm z-50 bg-zinc-50 transition-all duration-500 ease-in-out">
 <div class="px-12">
  <img src="/logos/red.png" alt="Apex Collision Center Logo" width={175} />
 </div>

 <div class="grid bg-zinc-50 text-zinc-900 pl-24 transition-all duration-500 ease-in-out">
  <InfoBanner />

  <Navigation />
 </div>
</header>
