---
import Navigation from "./Navigation.astro";
import Logo from "./Logo.astro";
import CallToAction from "./CallToAction.astro";
import RatingsInfo from "./RatingsInfo.astro";
---

<header class="grid top-0 sticky z-50 bg-zinc-50">
 <div class="grid grid-flow-col sm:grid-cols-3 grid-cols-2 justify-evenly items-center sm:gap-60 gap-20 my-4 sm:px-24 px-5 text-zinc-900">
  <RatingsInfo />
  <Logo />
  <CallToAction />
 </div>

 <Navigation />
</header>
