---
import Navigation from "./Navigation.astro";
import Logo from "./Logo.astro";
import CallToAction from "./CallToAction.astro";
import RatingsInfo from "./RatingsInfo.astro";
---

<header class="grid top-0 sticky z-50 bg-zinc-50">
 <div class="grid grid-flow-col grid-cols-3 justify-evenly items-center gap-60 my-4 px-52 text-zinc-900">
  <RatingsInfo />
  <Logo />
  <CallToAction />
 </div>

 <Navigation />
</header>
