---
import Navigation from "./Navigation.astro";
import Logo from "./Logo.astro";
import CallToAction from "./CallToAction.astro";
import NeedsPurpose from "./NeedsPurpose.astro";
---

<header class="grid top-0 sticky z-50 bg-zinc-50">
 <div class="grid grid-flow-col justify-evenly items-center gap-60 my-4 text-zinc-900">
  <NeedsPurpose />
  <Logo />
  <CallToAction />
 </div>

 <Navigation />
</header>
