---

---

<div class="flex gap-16 justify-center font-bold items-center py-3 text-zinc-50 bg-zinc-900">
 <a href="#" class="group transition duration-300 sm:block hidden">
  About
  <span class="block max-w-0 group-hover:max-w-full transition-all duration-500 h-0.5 bg-red-700"></span>
 </a>

 <a href="#" class="group transition duration-300 sm:block hidden">
  Services
  <span class="block max-w-0 group-hover:max-w-full transition-all duration-500 h-0.5 bg-red-700"></span>
 </a>
 <a href="#" class="group transition duration-300 sm:block hidden">
  Contact
  <span class="block max-w-0 group-hover:max-w-full transition-all duration-500 h-0.5 bg-red-700"></span>
 </a>
</div>
