---

---

<footer class="py-10 bg-zinc-900 text-zinc-50">
 <div class="grid grid-flow-col sm:gap-32 justify-left sm:justify-center sm:text-md text-xs p-5 sm:p-0">
  <div class="flex flex-col">
   <img src="./logos/white.png" alt="Apex Collision Center Logo" width={175} />
   <br />
   <ul class="grid gap-3">
    <li class="font-bold">Contact Us:</li>
    <li><a class="hover:underline cursor-pointer" href="mailto:info@apexcollisioncenters.com">info@apexcollisioncenters.com</a></li>
    <li><a class="hover:underline cursor-pointer" href="tel:(434) 473-0160">(434) 473-0160</a></li>
    <li class="font-bold">Main Shop:</li>
    <li class="group">
     <a href="https://www.google.com/maps/place/20795+Lynchburg+Hwy,+Forest,+VA+24551/@37.3084919,-79.3288227,13z" target="_blank">
      <a
       href="https://maps.apple.com/?address=20795%20Lynchburg%20Hwy,%20Forest,%20VA%20%2024551,%20United%20States&ll=37.305778,-79.287286&q=20795%20Lynchburg%20Hwy"
       target="_blank"
       class="group-hover:underline"
      >
       20795 Lynchburg Hwy. <br /> Forest, VA, 24551
      </a>
     </a>
    </li>
   </ul>
  </div>
  <div class="flex-col sm:flex flex justify-end">
   <span class="font-bold">Opening Hours</span>
   <br />
   <ul class="grid gap-3">
    <li>Monday – Friday: 8 AM – 5 PM</li>
    <li>Saturday & Sunday: Closed</li>
   </ul>
  </div>
  <div class="hidden flex-col sm:flex">
   <span class="font-bold">Company</span>
   <br />
   <ul class="grid gap-3">
    <li><a class="hover:underline cursor-pointer">About</a></li>
    <li><a class="hover:underline cursor-pointer">Services</a></li>
    <li><a class="hover:underline cursor-pointer">Contact Us</a></li>
    <li><a class="hover:underline cursor-pointer">Careers</a></li>
   </ul>
  </div>
  <div class="hidden flex-col sm:flex">
   <span class="font-bold">More</span>
   <br />
   <ul class="grid gap-3">
    <li>
     <a class="hover:underline cursor-pointer" href="https://www.facebook.com/p/Apex-Collision-Center-100088094233817/" target="_blank">Facebook</a>
    </li>
    <li>
     <a class="hover:underline cursor-pointer" href="https://www.carwise.com/auto-body-shops/apex-collision-center-forest-va-24551/" target="_blank"
      >Carwise</a
     >
    </li>
   </ul>
  </div>
 </div>
 <span class="justify-center flex mt-20 font-semibold">© 2024 Apex Collision Center</span>
 <span class="text-zinc-400 text-sm justify-center flex mt-2"
  >Built by&nbsp;<a href="https://brinkley.dev" class="group transition duration-300" target="_blank"
   >Brinkley Hill
   <span class="block max-w-0 group-hover:max-w-full transition-all duration-500 h-0.5 bg-red-700"> </span>
  </a></span
 >
</footer>
