<div class="copyright-copyright">
  <div
    class="copyright-max-width max-content-container"
  >
    <div class="box-yuh">
      <div class="copyright-text">
        <span class="copyright-text1">
          ©2022 All rights reserved
        </span>
        <a
          href="https://www.apexcollisioncenters.com"
          target="_blank"
          rel="noreferrer noopener"
        >
          <span class="copyright-text2"
            >Apex Collision Center</span
          >
        </a>
        <span class="copyright-text3">
          // Built by
        </span>
        <a
          href="https://www.google.com"
          target="_blank"
          rel="noreferrer noopener"
        >
          <span class="copyright-text4"
            >Brinkley Hill</span
          >
        </a>
      </div>
    </div>
  </div>
</div>
