<div class="copyright-copyright">
  <div class="copyright-box">
    <span class="copyright-text">
      Copyright © 2022
    </span>

    <span class="copyright-business"
      >Apex Collision Center</span
    >

    <br />
    <span class="copyright-text2">
      <b>Built by </b>
    </span>
    <a
      href="https://www.brinkh.com"
      target="_blank"
      rel="noreferrer noopener"
    >
      <span class="copyright-brinkley"
        ><b>Brinkley Hill</b></span
      >
    </a>
  </div>
</div>
